@charset "UTF-8";
.about,
.supporters,
.follow-us,
.actions,
.container_news,
.container_help {
  padding-top: 4vh;
}

h2,
h3, h4 {
  margin: 35px 0;
}

html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

#content {
  padding-bottom: 100px;
}

/* Стили для header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vw;
  background-color: #004d89;
  position: relative;
  z-index: 2;
}

.header_logo {
  width: 6vw;
}

.header-nav-item {
  font-size: 1.1vw;
}

.header-nav-item:hover {
  background-color: #f3c044;
  color: #004d89;
  font-weight: 500;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.header-nav-link {
  color: white;
  padding: 3vw;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  padding: 0;
}

.navbar-brand {
  padding: 0.7vw;
}

.navbar-nav {
  margin-right: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 3vw;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #004d89;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(243, 192, 68, 0);
}

.btn {
  border: none;
}

.btn-donate {
  width: 14vw;
}

.btn-header {
  font-weight: 600;
  font-size: 1.2vw;
  right: 3.4vw;
  top: 1.8vw;
  text-transform: uppercase;
  background: #f3c044;
  color: #004d89;
}

.btn-primary:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #FFED00;
  border-color: #FFED00;
  color: #004d89;
}

.navbar-light .navbar-toggler {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/menu-hamburger.svg);
  opacity: 0.9;
}

#top {
  display: none;
  position: fixed;
  right: 1.25vw;
  top: 1.9vw;
  color: #f3c044;
  text-align: center;
  text-transform: uppercase;
  z-index: 4;
}

.donate_flex {
  padding: 0.5vw 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1vw;
}

.donate_img {
  margin-right: 1vw;
}

/* Галерея */
.carousel {
  z-index: 1;
}

.container-fluid {
  padding: 0;
}

.col1,
.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* section about*/
h2,
h3 {
  text-align: center;
}

.about {
  margin: 0 auto;
  max-width: 60%;
}

.about_structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_layout {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.about_believe {
  text-align: center;
}

.about_list {
  text-align: left;
}

/*actions*/
.text_activities {
  text-align: center;
  margin-right: 0;
  width: 25vw;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding-top: 3vw;
}

.project {
  width: 27%;
}

.project_img {
  width: 15vw;
  margin: 0 auto;
}

.roundphoto {
  width: 100%;
}

/* help*/
.container_help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.help_btn {
  font-size: 1.2vw;
  margin: 35px;
  padding: 3vw;
  border-radius: 10px;
  border: 1px solid #004d89;
  min-width: 25vw;
  height: 15vh;
  background-color: #f3c044;
  color: white;
  width: 30vw;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-color: #f3c044;
}

.help_btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border: 3px solid #f3c044;
}

/*supporters*/
.supporters_structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10vh;
}

.supporters_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 30px;
}

.supporters_layout_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 2vw;
}

.supporters_name {
  margin-bottom: 1vw;
}

.supporters_interview {
  text-align: center;
}

/*news*/
.container_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsOne,
.newsTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: start;
  margin: auto;
  width: 70vw;
}

.news_img {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
}

li {
  list-style-type: none;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  display: block;
}

.toggle-box + label + div {
  display: none;
}

.toggle-box:checked + label + div {
  display: block;
  padding: 5px;
}

/*followUs*/
.follow-us_structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10vh;
}

.follow-us_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5vw;
  padding-right: 3vw;
}

.follow-us_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50vw;
}

.follow-us_right {
  width: 54vw;
}

.follow-us_img {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.follow-us_img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#mc_embed_signup {
  background: white;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup form {
  display: contents;
}

/* Стили для footer */
footer {
  font-size: 1vw;
  background-image: url(../images/bg_footer.png);
  background-size: cover;
  background-position: right bottom;
  padding: 2vw 0vw 7vw 2vw;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 3vw;
}

.footer_b {
  width: 100%;
}

.footer_b:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.footer-sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav {
  margin-right: 7vw;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #004d89;
  border: none;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.btn-secondary:hover {
  background-color: #f3c044;
  border: none;
  color: #004d89;
}

.footer_contacts {
  width: 15vw;
}

.contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social_youtube,
.social_instagram,
.social_facebook {
  width: 2vw;
}

.contacts_href {
  margin-top: 2vw;
}

.href {
  text-decoration: none;
  color: black;
  margin: 0;
}

.footer_props {
  width: 48vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prop {
  padding: 0 10px;
  width: 14vw;
}

.footer_logo {
  left: 90%;
  position: absolute;
  margin-top: 10vw;
  margin-left: -33px;
}

.logo_flogo {
  width: 4vw;
  margin: 0 0 0 4vw;
}

.logo_text {
  font-size: 0.9vw;
  margin-top: 0.4vw;
}

.flogo_fimg {
  width: 100%;
}

/*media actions*/
@media screen and (max-width: 990px) {
  .supporters_structure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_img {
    margin: 5vw;
    width: 22vw;
  }
  .help_btn {
    width: 27vw;
    font-size: 2vw;
    margin: 26px;
    padding: 4vw;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
  .supporters_interview {
    width: 60vw;
  }
  .header_logo {
    width: 8vw;
  }
  .nav-item {
    font-size: 2vw;
    margin: 0 auto;
  }
  .btn-donate {
    margin: 0 auto;
    min-width: 54vw;
  }
  .btn-header {
    padding: 2vw 20vw;
  }
  .donate_flex {
    padding: 0.5vw 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2vw;
  }
  #top {
    right: 7vw;
    top: 1vw;
    position: fixed;
    margin: 0;
    min-width: 14vw;
  }
  #top_btn {
    padding: 1vw;
  }
  .footer {
    display: block;
    max-width: 990px;
    margin: 0 auto;
    padding: 2vw 0vw 21vw 2vw;
    font-size: 1.5vw;
  }
  .footer-sec-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-secondary {
    font-size: 1.5vw;
  }
  .footer_props {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding-top: 8vw;
    width: 70vw;
  }
  .footer_logo {
    left: 75%;
    position: absolute;
    margin-top: 0vw;
    margin-left: -36px;
  }
  .logo_text {
    font-size: 1.5vw;
  }
  .logo_flogo {
    width: 7vw;
    margin: -3vw -3px 1vw 6vw;
  }
  .news_img {
    margin: auto;
    text-align: center;
  }
  .newsOne,
  .newsTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
}

@media all and (max-width: 639px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help_btn {
    padding: 5vw 31vw;
    font-size: 2.4vw;
  }
  .follow-us_structure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .follow-us_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .follow-us_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text_activities {
    width: 80vw;
  }
  #top {
    right: 67%;
    top: 75%;
    min-width: 30vw;
  }
  .donate_flex {
    font-size: 3vw;
  }
  #top_btn {
    padding: 2vw 4vw;
  }
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project_img {
    width: 30vw;
  }
  .header_logo {
    width: 14vw;
  }
  .nav-item {
    font-size: 3vw;
    margin: 0 auto;
  }
  footer {
    padding: 2vw 0vw 34vw 2vw;
  }
  .footer {
    font-size: 3vw;
    padding: 0vw 0vw 20vw 0vw;
  }
  .footer-sec-1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .footer-nav {
    margin: 0 auto;
    padding-bottom: 5vw;
  }
  .footer_contacts {
    margin: 0 auto;
    width: 40%;
  }
  .footer_props {
    display: block;
  }
  .footer_logo {
    left: 73%;
    position: absolute;
    margin-top: 0vw;
    margin-left: -41px;
  }
  .btn-secondary {
    font-size: 3vw;
  }
  .social_youtube,
  .social_instagram,
  .social_facebook {
    width: 5vw;
    padding-bottom: 4vw;
  }
  .contacts_href {
    font-size: 2.5vw;
  }
  .prop {
    padding-bottom: 6vw;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
  }
  .logo_flogo {
    width: 15vw;
    margin: 0vw 0px 0vw 11vw;
  }
  .logo_text {
    font-size: 3vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: white;
  }
}

@media all and (max-width: 450px) {
  .supporters_interview {
    height: 300px;
  }
  .news_img {
    width: 220px;
    height: 220px;
  }
}
/*# sourceMappingURL=style.css.map */